<section>
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col-xs-12 col-sm-6">
                                <h4>Quản Lí Quan Hệ</h4>
                            </div>
                            <div class="col-xs-12 col-sm-6 text-right">
                                <button type="button" class="btn btn-danger mr-1 text-light font-weight-bolder"
                                    (click)="this.refresh()">
                                    <i class="fa fa-retweet"></i>
                                    Refresh
                                </button>
                                <button type="button" class="btn mr-1 text-light font-weight-bolder"
                                style="background-color:#007bff;"
                                (click)="this.showrandom()" *ngIf="this.Id_Top!=this.temp && this.Id_Con!=this.temp">
                                <i class="fa fa-random"></i>
                                     Random
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row justify-content-between">
                        <!--  START- LIST-->
                        <div class="col-12 col-sm-3">
                            <p class="w-100 font-weight-bold text-center">CHỦ ĐỀ</p>
                            <select class="form-control" [(ngModel)]="this.Id_Top" (change)="initTop()">
                                <option [ngValue]="this.temp">
                                    Chọn Chủ Đề
                                </option>
                                <ng-container *ngFor="let top of this.listTop;">
                                    <option [ngValue]="top.Id">
                                        {{top.Name_Top}}
                                    </option>
                                </ng-container>
                            </select>
                            <div class="row justify-content-center mt-2" *ngIf="this.Id_Top!=this.temp">
                                <table class="table table-bordered table-hover  text-center" id="tb_db">
                                    <tr style="background-color:#007bff;color: white;">
                                        <th>Tên</th>
                                        <th>Ảnh</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div *ngIf="this.objTop && this.objTop.hasOwnProperty(this.Id_Top)">
                                                {{this.objTop[this.Id_Top].Name_Top}}
                                            </div>
                                            <div *ngIf="this.objTop && !this.objTop.hasOwnProperty(this.Id_Top)">
                                                Không Xác Định
                                            </div>
                                        </td>
                                        <td>
                                            <div *ngIf="this.objTop && this.objTop.hasOwnProperty(this.Id_Top)">
                                                <img [src]="this.objTop[this.Id_Top].Image" width="50px"
                                                    height="50px" />
                                            </div>
                                            <div *ngIf="this.objTop && !this.objTop.hasOwnProperty(this.Id_Top)">
                                                Không Xác Định
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                                <p class="w-100 font-weight-bold text-center">CUỘC THI</p>
                            <select class="form-control" *ngIf="this.Id_Top!=this.temp" [(ngModel)]="this.Id_Con" (change)="initCon()">
                                <option [ngValue]="this.temp">
                                    Chọn Cuộc Thi
                                </option>
                                <ng-container *ngFor="let con of this.listCon;">
                                    <option *ngIf="con.Id_Top==this.Id_Top" [ngValue]="con.Id">
                                        {{con.Id}}
                                    </option>
                                </ng-container>
                            </select>
                            <div class="row justify-content-center mt-2"
                                *ngIf="this.Id_Top!=this.temp && this.Id_Con!=this.temp">
                                <table class="table table-bordered table-hover  text-center">
                                    <tr style="background-color:#007bff;color: white;">
                                        <th>Mô Tả</th>
                                        <th>Điểm Tối Đa</th>
                                        <th>Thời Gian Tối Đa</th>
                                    </tr>
                                    <tr>
                                        <td style="height: 75px;">
                                            <div *ngIf="this.objCon && this.objCon.hasOwnProperty(this.Id_Con)">
                                                {{this.objCon[this.Id_Con].Description}}
                                            </div>
                                            <div *ngIf="this.objCon && !this.objCon.hasOwnProperty(this.Id_Con)">
                                                Không Xác Định
                                            </div>
                                        </td>
                                        <td style="height: 75px;">
                                            <div *ngIf="this.objCon && this.objCon.hasOwnProperty(this.Id_Con)">
                                                {{this.objCon[this.Id_Con].Max_Point}}
                                            </div>
                                            <div *ngIf="this.objCon && !this.objCon.hasOwnProperty(this.Id_Con)">
                                                Không Xác Định
                                            </div>
                                        </td>
                                        <td>
                                            <div *ngIf="this.objCon && this.objCon.hasOwnProperty(this.Id_Con)">
                                                {{this.objCon[this.Id_Con].Time_Left}}
                                            </div>
                                            <div *ngIf="this.objCon && !this.objCon.hasOwnProperty(this.Id_Con)">
                                                Không Xác Định
                                            </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                                <p class="w-100 font-weight-bold text-center">DANH SÁCH CÂU HỎI</p>
                                <div *ngIf="this.Id_Top!=this.temp && this.Id_Con!=this.temp">
                                    <div class="row justify-content-center my-2">
                                        <button type="button" class="btn btn-dark mr-1 text-light font-weight-bolder"
                                            (click)="this.initCon()">
                                            <i class="fa fa-undo"></i>
                                            Reset
                                        </button>
                                        <button type="button" class="btn btn-success  mr-1 text-light font-weight-bolder"
                                        (click)="this.submit()" >
                                        <i class="fa fa-save"></i>
                                             Lưu Lại
                                        </button>
                                        </div>
                                <div class="tableFixHead">
                                    <table class="table table-bordered table-hover  text-center custom-table text-nowrap" id="tb_db">
                                        <thead>
                                            <tr style="background-color:#007bff;color: white;padding-top: 0.75rem;padding-bottom: 0.75rem;">
                                                <th>STT</th>
                                                <th>Nội dung</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                        <tr *ngFor="let ques of getListTop()"  (click)="showques(ques.Id)">
                                            <th scope="row">{{ques.Order}}</th>
                                            <td >
                                                {{this.changeCon(ques.Content_Ques)}}
                                            </td>
                                            <td >
                                                <button (click)="select(ques.Id)" class="btn btn-outline-success py-0 px-1 my-0" *ngIf="getCheck(ques.Id); else SAI;"><i
                                                    class="fa fa-check" style="width: 14px;"></i></button>
                                                    <ng-template #SAI> <button (click)="select(ques.Id)" class="btn btn-outline-danger py-0 px-1 my-0"><i
                                                                class="fa fa-close" style="width: 14px;"></i></button></ng-template>
                                            
                                            </td>  
                                        </tr> 
                                         </tbody>  
                                    </table>
                            </div>
                        </div>
                        </div>
                        <div class="col-12 col-sm-3" >
                            <div class="border" *ngIf="this.Id_Top!=this.temp && this.Id_Con!=this.temp && this.Id_Ques!=this.temp && this.objQues && this.objQues.hasOwnProperty(this.Id_Ques)">
                                 <p class="text-center font-weight-bold w-100">NỘI DUNG CÂU HỎI</p>
                                 <div class=" w-100 text-left d-inline-block px-1 mb-2">
                                 <p class=" text-danger font-weight-bold d-inline" >
                                         Câu hỏi: 
                                 </p>
                                 <p class="d-inline">{{this.objQues[this.Id_Ques].Content_Ques}} ?
                                 </p>
                                 </div>
                                 <div class=" w-100 text-left d-inline-block px-1 mb-2">
                                    <p class=" text-danger font-weight-bold d-inline" >
                                        Độ Khó: 
                                    </p>
                                    <p class="d-inline">
                                        {{this.objQues[this.Id_Ques].Level==1?'Dễ':this.objQues[this.Id_Ques].Level==2?'Trung Bình':this.objQues[this.Id_Ques].Level==3?'Khó':'Không Xác Định'}}
                                    </p>
                                    </div>
                                 <ul class="w-100 list-group">
                                     <li class="list-group-item d-inline-block"  *ngIf="this.objQues[this.Id_Ques].Answer!=1">
                                        <p class="d-inline font-weight-bold text-primary">1. </p><p class="d-inline">{{this.objQues[this.Id_Ques].Answer1}}</p>
                                     </li>
                                     <li class="list-group-item bg-success" *ngIf="this.objQues[this.Id_Ques].Answer==1" style="color: white;">
                                            <p class="d-inline font-weight-bold text-light">1. </p><p class="d-inline">{{this.objQues[this.Id_Ques].Answer1}}</p>
                                         </li>
                                     <li class="list-group-item"  *ngIf="this.objQues[this.Id_Ques].Answer!=2">
                                            <p class="d-inline font-weight-bold text-primary">2. </p><p class="d-inline">{{this.objQues[this.Id_Ques].Answer2}}</p>
                                        </li>
                                        <li class="list-group-item bg-success"  *ngIf="this.objQues[this.Id_Ques].Answer==2" style="color: white;">
                                                <p class="d-inline font-weight-bold text-light">2. </p><p class="d-inline">{{this.objQues[this.Id_Ques].Answer2}}</p>
                                            </li>
                                        <li class="list-group-item"  *ngIf="this.objQues[this.Id_Ques].Answer!=3">
                                                <p class="d-inline font-weight-bold text-primary">3. </p><p class="d-inline">{{this.objQues[this.Id_Ques].Answer3}}</p>
                                            </li>
                                            <li class="list-group-item bg-success"  *ngIf="this.objQues[this.Id_Ques].Answer==3" style="color: white;">
                                                    <p class="d-inline font-weight-bold text-light">3. </p><p class="d-inline">{{this.objQues[this.Id_Ques].Answer3}}</p>
                                                </li>
                                            <li class="list-group-item"  *ngIf="this.objQues[this.Id_Ques].Answer!=4">
                                                    <p class="d-inline font-weight-bold text-primary">4. </p><p class="d-inline">{{this.objQues[this.Id_Ques].Answer4}}</p>
                                                </li>
                                                <li class="list-group-item bg-success"  *ngIf="this.objQues[this.Id_Ques].Answer==4" style="color: white;">
                                                        <p class="d-inline font-weight-bold text-light">4. </p><p class="d-inline">{{this.objQues[this.Id_Ques].Answer4}}</p>
                                                    </li>
                                 </ul>
                            </div>
                        </div>
                        <!--  END - LIST-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

     <!-- START RANDOM -->
<div bsModal #randomModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 text-center">Ngẫu Nhiên Số Câu Hỏi ( 100>x>=0 )</h4>
          <button type="button" class="close" (click)="randomModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form #form="ngForm" autocomplete="off" class="pr-3">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <p class="text-center font-weight-bold">DỄ</p>
                        <input type="number" name="De_Sl" #De_Sl1="ngModel" pattern="^[0-9]{1,2}$"
                        [(ngModel)]="De_Sl" required class="form-control"
                        [ngClass]="{ 'is-invalid':(De_Sl1.errors && De_Sl1.dirty),'is-valid': !De_Sl1.errors && De_Sl1.dirty}">
                    </div>
                    <div class="col-12 col-sm-4">
                    <p class="text-center font-weight-bold">TRUNG BÌNH</p>
                    <input type="number" name="Tb_Sl" #Tb_Sl1="ngModel" pattern="^[0-9]{1,2}$"
                    [(ngModel)]="Tb_Sl" required class="form-control"
                    [ngClass]="{ 'is-invalid':(Tb_Sl1.errors && Tb_Sl1.dirty),'is-valid': !Tb_Sl1.errors && Tb_Sl1.dirty}">
                    </div>
                    <div class="col-12 col-sm-4">
                    <p class="text-center font-weight-bold">KHÓ</p>
                    <input type="number" name="Kho_Sl" #Kho_Sl1="ngModel" pattern="^[0-9]{1,2}$"
                    [(ngModel)]="Kho_Sl" required class="form-control"
                    [ngClass]="{ 'is-invalid':(Kho_Sl1.errors && Kho_Sl1.dirty),'is-valid': !Kho_Sl1.errors && Kho_Sl1.dirty}">
                    </div>
                </div>
                <div class="w-100 mt-3 text-danger font-weight-bold text-center"> Dữ liệu cũ sẽ bị thay thế </div>
                </form>

        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="random()">Đồng ý</button>
                <button type="button" class="btn btn-secondary" (click)="randomModal.hide()">Không</button>
        </div>
      </div>
    </div>
  </div>

<!-- END -RANDOM-->