<section>
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="row justify-content-between">
                <div class="col-xs-12 col-sm-6">
                  <h4>Quản Lí Tài Khoản Người Chơi</h4>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <button type="button" class="btn btn-danger mr-1 text-light font-weight-bolder" (click)="this.refresh()">
                        <i class="fa fa-retweet"></i>
                        Refresh
                      </button>
                  <button type="button" class="btn btn-info mr-1 text-light font-weight-bolder" data-toggle="modal" (click)="this.showAdd()">
                    <i class="fa fa-plus" aria-hidden="true"> </i>
                    Thêm
                  </button>
                </div>
              </div>
            </div>
            <div class="input-group mt-3 row justify-content-end">
                <div class="input-group-prepend mr-2">
                    <select [(ngModel)]="slc_search" class="custom-select">
                        <option  [ngValue]="2" [selected]="true" >Tài Khoản</option>
                        <option  [ngValue]="3">Họ Tên</option>
                        <option  [ngValue]="4">Email</option>
                        <option  [ngValue]="5">Điện Thoại</option>
                        <option  [ngValue]="6">Địa Chỉ</option>
                        <option  [ngValue]="7">Ngày Sinh</option>
                        <option  [ngValue]="9">Hoạt Động</option>
                      </select>
                </div>
                <div class="input-group-prepend">
              <input type="text" id="mySearchText" style="padding-left:5px;padding-right: 5px;" placeholder="Search..." [(ngModel)]="inp_search">
              <button id="mySearchButton" class="btn btn-light order" (click)="filter()"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
              </div>
            <div class="card-body" style="overflow-x: scroll;">
                 <!--  START- LIST-->
              <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="dttb">
                <thead class="bg-primary">
                  <tr>
                    <th>STT</th>
                    <th>ID</th>
                    <th>Tài Khoản</th>
                    <th>Họ Tên</th>
                    <th>Email</th>
                    <th>Điện Thoại</th>
                    <th>Địa Chỉ</th>
                    <th>Ngày Sinh</th>
                    <th>Hình Ảnh</th>
                    <th>Hoạt Động</th>
                    <th>Hành Động</th>
                  </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let cus of this.list;let i=index">
                        <td>{{i+1}}</td>
                        <th scope="row">{{cus.Id}}</th>
                        <td >
                            {{cus.Username}}
                        </td>
                        <td>
                            {{cus.Fullname}}
                        </td>
                        <td>
                            {{cus.Email}}
                        </td>
                        <td>
                            {{cus.Phone}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-secondary" ngbPopover="{{cus.Address}}" triggers="mouseenter:mouseleave" popoverTitle="Địa chỉ">
                                <i class="fa fa-eye"></i>
                                </button>
                        </td>
                        <td>
                            {{cus.Birthday  | date:'dd-MM-yyyy'}}
                        </td>
            
                        <td class="row justify-content-center w-100">
                          <div *ngIf="cus.Image!=null">
                            <img [src]="cus.Image"  width="40px" height="40px"/>
                            </div>

                            <div *ngIf="cus.Image==null">
                                <img src="http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png" width="40px" height="40px" />
                                </div>
                        </td>
                        <td><span *ngIf="cus.Status==1; else SAI;" style="color: green;">Hoạt động</span>
                          <ng-template #SAI> <span style="color: red;">Bị Cấm</span></ng-template>
                        </td>
                        <td class="text-center">
                              <button (click)="showedit(cus)" class="bg-success" style="border:0">
                              <i class="fa fa-edit"></i>
                              </button>
                              
                          </td>
                      </tr>
                </tbody>
              </table>
              <!--  END - LIST-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- begin modal create -->
  
  <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100 text-center" *ngIf="this.type==1" >Thêm Người Chơi</h4>
          <h4 class="modal-title w-100 text-center" *ngIf="this.type==2" >Cập Nhật Người Chơi</h4>
          <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <!-- START CREATE -->
              <form #form="ngForm" autocomplete="off">
                  <input *ngIf="this.type==2" name="Id" [(ngModel)]="service.formData.Id"  hidden>
                  <div class="row justify-content-center mb-2 w-100">
                  <img [src]="service.formData.Image" class="col" style="max-height:300px;max-width:300px;"/>
               
                  </div>
                  <div class="form-group row">
          
                      <label class="col-sm-3 col-form-label text-dark h3">ẢNH</label>
                      <input #myInput type="file" (change)="onFileChanged($event)" />
                      <input name="Image" #Image1="ngModel" [(ngModel)]="service.formData.Image" hidden>
                  </div>

                    <input name="Password" #Password1="ngModel" [(ngModel)]="service.formData.Password"  hidden>
                  <div class="form-group row">
                    <label  class="col-sm-3 col-form-label text-dark h3">USERNAME</label>
                    <input name="Username" #Username1="ngModel" [(ngModel)]="service.formData.Username" minlength="3" maxlength="50"  required class="form-control col-sm-9"
                    [ngClass]="{ 'is-invalid':(Username1.errors && Username1.touched),'is-valid': !Username1.errors && Username1.touched}" [disabled]="this.type==2">
                    <span class="text-danger offset-sm-3" *ngIf="Username1.invalid && Username1.dirty">
                        Tài Khoản phải từ 3 đến 50 kí tự
                    </span>
                  </div>
                  <div class="form-group row">
                    <label  class="col-sm-3 col-form-label text-dark h3">HỌ TÊN</label>
                    <input name="Fullname" #Fullname1="ngModel" [(ngModel)]="service.formData.Fullname"  minlength="3" maxlength="50"   required class="form-control col-sm-9"
                    [ngClass]="{ 'is-invalid':(Fullname1.errors && Fullname1.touched),'is-valid': !Fullname1.errors && Fullname1.touched}">
                    <span class="text-danger offset-sm-3" *ngIf="Fullname1.invalid && Fullname1.dirty">
                        Họ Tên phải từ 3 đến 50 kí tự
                    </span>
                  </div>
                  <div class="form-group row">
                  <label class="col-sm-3 col-form-label text-dark h3">EMAIL</label>
                  <input name="Email" #Email1="ngModel" [(ngModel)]="service.formData.Email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"  maxlength="100" required class="form-control col-sm-9" 
                  [ngClass]="{ 'is-invalid':(Email1.errors && Email1.touched),'is-valid': !Email1.errors && Email1.touched}"
                  >
                  <span class="text-danger offset-sm-3" *ngIf="Email1.invalid && Email1.dirty">
                    Phải có dạng email e.g a@gmail.com và dài nhiều nhất 100 kí tự
                  </span>
                </div>
                  <div class="form-group row">
                    <label  class="col-sm-3 col-form-label text-dark h3">SĐT</label>
                    <input name="Phone" #Phone1="ngModel" [(ngModel)]="service.formData.Phone"  pattern="(09|03)+([0-9]{8})\b"  class="form-control col-sm-9"
                    [ngClass]="{ 'is-invalid':(Phone1.errors && Phone1.touched),'is-valid': !Phone1.errors && Phone1.touched}">
                    <span class="text-danger offset-sm-3" *ngIf="Phone1.invalid && Phone1.dirty">
                      SDT chỉ bao gồm số và có 10 số và bắt đầu là 09 hoặc 03
                    </span>
                  </div>
                  <div class="form-group row">
                    <label  class="col-sm-3 col-form-label text-dark h3">ĐỊA CHỈ</label>
                    <textarea rows="2" name="Address" #Address1="ngModel" [(ngModel)]="service.formData.Address"  minlength="3" maxlength="200"  class="form-control col-sm-9"
                      [ngClass]="{ 'is-invalid':(Address1.errors && Address1.touched),'is-valid': !Address1.errors && Address1.touched}">

                    </textarea>
                    <span class="text-danger offset-sm-3" *ngIf="Address1.invalid && Address1.dirty">
                        Địa chỉ phải từ 3 đến 200 kí tự
                      </span>
                  </div>
                  <div class="form-group row">
                    <label  class="col-sm-3 col-form-label text-dark h3">NGÀY SINH</label>
                    <input type="date"  
                    [ngModel]="service.formData.Birthday | date:'yyyy-MM-dd'"  
                    (ngModelChange)="service.formData.Birthday = $event"    
                    name="Birthday" 
                    class="form-control col-sm-9 form-control col-sm-9-rounded"
              >
                  </div>

                  <div class="form-group row" *ngIf="this.type==2;else status">
                    <label  class="col-sm-3 col-form-label text-dark h3">HOẠT ĐỘNG</label>
                    <select name="Status" #Status1="ngModel" [(ngModel)]="service.formData.Status" required class="form-control col-sm-9">
                      <option  [ngValue]="0" >Bị Cấm</option>
                      <option  [ngValue]="1">Hoạt Động</option>
                    </select>
                   
                  </div>
                  <ng-template #status><input name="Status" [(ngModel)]="service.formData.Status" hidden></ng-template>
                  <div class="form-group row pull-left ml-5">
                    <button type="button"  data-dismiss="modal" (click)="this.service.resetForm(this.type)"  class="btn btn-danger btn-block font-weight-bolder">RESET</button>
                  </div>
                    <div class="form-group row pull-right mr-5">
                      <button type="button" (click)="this.onSubmit(form)"  [disabled]="form.invalid" data-dismiss="modal" class="btn btn-info btn-block text-light font-weight-bolder">SUBMIT</button>
                    </div>
                </form>
              <!-- END -CREATE-->
        </div>
      </div>
    </div>
  </div>
  
  <!-- end modal create -->
