<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <img src="../../../assets/img/logo.png" class="col-md-4 mx-auto" />
      </div>
      <div class="row">
        <h3 class="col-md-4 mx-auto text-center text-light" *ngIf="this.type==1">ĐĂNG NHẬP</h3>
        <h3 class="col-md-4 mx-auto text-center text-light" *ngIf="this.type==2">QUÊN MẬT KHẨU</h3>
      </div>
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card-group">
            <div class="card  p-4  login__block">
              <div class="card-body px-0">
                <form #form="ngForm">
                  <div class="form-group">
                    <input type="email" class="form-control text-center px-5" placeholder="Email" #email1="ngModel"
                      [(ngModel)]="this.email" name="email" autocomplete="email"
                      pattern="[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})" autocomplete="off"
                      required minlength="6" maxlength="50"
                      [ngClass]="{ 'is-invalid' :email1.errors && email1.dirty,'is-valid': !email1.errors && email1.dirty}">

                      <span class="invalid-feedback text-light" *ngIf="email1.errors && email1.dirty && email1.errors.required">
                        Email không được để trống
                      </span>
                      <span class="invalid-feedback text-light" *ngIf="email1.errors && email1.dirty && email1.errors.pattern">
                        Email không đúng định dạng
                      </span>
                      <span  class="invalid-feedback text-light"  *ngIf="email1.errors && email1.dirty && !email1.errors.pattern && (email1.errors.minlength || email1.errors.maxlength)">
                        Email phải từ 6 đến 50 kí tự!
                      </span>
                  </div>
                  <div *ngIf="this.type==1">
                    <div class="form-group">
                      <input type="password" class="form-control text-center px-5" placeholder="Password"
                        autocomplete="current-password" #password1="ngModel" id="password" [(ngModel)]="password"
                        name="password" required minlength="6" maxlength="50" autocomplete="off"
                        [ngClass]="{ 'is-invalid' :password1.errors && password1.dirty,'is-valid': !password1.errors && password1.dirty}">
                        <span class="invalid-feedback text-light" *ngIf="password1.errors && password1.dirty && password1.errors.required">
                          Mật khẩu không được để trống
                        </span>
                        <span class="invalid-feedback text-light" *ngIf="password1.errors && password1.dirty && password1.errors.pattern">
                          Mật khẩu không đúng định dạng
                        </span>
                        <span  class="invalid-feedback text-light"  *ngIf="password1.errors && password1.dirty && !password1.errors.pattern && (password1.errors.minlength || password1.errors.maxlength)">
                          Mật khẩu phải từ 6 đến 50 kí tự!
                        </span>
                    </div>
                  </div>
                  <div class="row justify-content-center mt-2">
                    <div class="col-auto">
                      <button type="submit" (click)="login()" [disabled]="form.invalid || loading"
                        class="btn btn-theme px-4" *ngIf="this.type==1">Đăng Nhập</button>
                      <button type="submit" (click)="forgot()" [disabled]="form.invalid || loading"
                        class="btn btn-theme px-4" *ngIf="this.type==2">Gửi Yêu Cầu </button>
                    </div>

                  </div>
                  <div class="row justify-content-center">
                    <img *ngIf="this.service.loading" src="../../../assets/img/ajax-loader.gif" width="30px"
                      height="30px" />
                    <p *ngIf="!this.service.loading" class="text-danger w-100 text-center">{{this.service.errorMessage}}
                    </p>
                    <a (click)="change()" class="text-light mt-2 w-100 text-center" *ngIf="this.type==2">Đăng Nhập
                    </a>
                    <a (click)="change()" class="text-light mt-2 w-100 text-center" *ngIf="this.type==1">
                      Quên Mật Khẩu
                    </a>
                  </div>
                  <!-- <div class="row justify-content-center mt-2" *ngIf="this.type==1">
                    <button type="button" (click)="loginfb()"  class="btn btn-outline-primary mr-1"><i class="fa fa-facebook-f"
                        style="margin-right: 2px;margin-left:2px;"></i></button>
                    <button type="button" (click)="logingg()" class="btn btn-outline-success"><i class="fa fa-google"></i></button>
                  </div> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>