<block-ui>
<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/logo.png', width: 25, height: 25, alt: 'Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto">

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img [src]="this.user.Image" class="img-avatar" [alt]="this.user.Email" *ngIf="this.user;else sai"/>
        <ng-template #sai>   <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="email@gmail.com" /> </ng-template>
      
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong *ngIf="this.user">{{this.user.Email}}</strong></div>
        <a class="dropdown-item" href="/authinfo"><i class="fa fa-user"></i>Thông Tin Tài Khoản <span class="badge badge-info"> {{this.len}}</span></a>
        <a class="dropdown-item" href="/changepass"><i class="fa fa-lock"></i>Thay Đổi Mật Khẩu</a>
        <div class="divider"></div>
        <button class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" ></i> Logout</button>
      </div>
    </li>
  </ul>
  
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized" *ngIf="Nav_loading">

    </app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a href="https://www.facebook.com/groups/1182020445201800">M.C.O.P</a> &copy; F4-CNTT1 Forever 2016-2019 </span>
  <span class="ml-auto">Người thực hiện <a href="https://www.facebook.com/good.love.1997/">Lâm Khánh Hào</a></span>
</app-footer>
</block-ui>