<section>
    <div class="">  
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <div class="col">
                                <h4>Thông Tin Tài Khoản</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body row justify-content-center">
                            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status" *ngIf="this.loading">
                                    <span class="sr-only">Loading...</span>
                            </div>
                            <form #form="ngForm" autocomplete="off" class="col-sm-4 col-12" *ngIf="this.loading==false">
                                    <div class="row justify-content-center mb-2 w-100 ml-3">
                                    <img [src]="user_info.Image" class="col" style="max-height:300px;max-width:300px;"/> 
                                    </div>
                                    <div class="form-group row">
                            
                                        <label class="col-sm-3 col-form-label text-dark h3">ẢNH</label>
                                        <div class="custom-file col-sm-9">
                                          <input #myInput type="file" (change)="onFileChanged($event)" id="inputGroupFile01"/>
                                          <label class="custom-file-label" for="inputGroupFile01">Chọn Ảnh</label>
                                        </div>
                                  
                                        <input name="Image" #Image1="ngModel" [(ngModel)]="user_info.Image" hidden>
                                    </div>
                                      <div class="form-group row">
                                      <label class="col-sm-3 col-form-label text-dark h3">EMAIL <label class="text-danger">*</label></label>
                                      <input disabled name="Email" #Email1="ngModel" [(ngModel)]="user_info.Email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"  maxlength="100" required class="form-control col-sm-9" 
                                      [ngClass]="{ 'is-invalid':(Email1.errors && Email1.dirty),'is-valid': !Email1.errors && Email1.dirty}"
                                      >
                                      <span class="text-danger offset-sm-3" *ngIf="Email1.invalid && Email1.dirty">
                                        Phải có dạng email e.g a@gmail.com và dài nhiều nhất 100 kí tự
                                      </span>
                                    </div>
                                      <input name="Password" #Password1="ngModel" [(ngModel)]="user_info.Password"  hidden>
                                    <div class="form-group row">
                                      <label  class="col-sm-3 col-form-label text-dark h3">HỌ <label class="text-danger">*</label></label>
                                      <input name="Lastname" #Lastname1="ngModel" [(ngModel)]="user_info.Lastname" minlength="2" maxlength="50"  required class="form-control col-sm-9"
                                      [ngClass]="{ 'is-invalid':(Lastname1.errors && Lastname1.dirty),'is-valid': !Lastname1.errors && Lastname1.dirty}">
                                      <span class="text-danger offset-sm-3" *ngIf="Lastname1.invalid && Lastname1.dirty">
                                        Họ phải từ 2 đến 50 kí tự
                                      </span>
                                      
                                    </div>
                                    <div class="form-group row">
                                      <label  class="col-sm-3 col-form-label text-dark h3">TÊN <label class="text-danger">*</label></label>
                                      <input name="Firstname" #Firstname1="ngModel" [(ngModel)]="user_info.Firstname"  minlength="2" maxlength="50"   required class="form-control col-sm-9"
                                      [ngClass]="{ 'is-invalid':(Firstname1.errors && Firstname1.dirty),'is-valid': !Firstname1.errors && Firstname1.dirty}">
                                      <span class="text-danger offset-sm-3" *ngIf="Firstname1.invalid && Firstname1.dirty">
                                          Tên phải từ 2 đến 50 kí tự
                                      </span>
                                    </div>
                                    <div class="form-group row">
                                      <label  class="col-sm-3 col-form-label text-dark h3">SĐT <label class="text-danger">*</label></label>
                                      <input name="Phone" #Phone1="ngModel" [(ngModel)]="user_info.Phone"  pattern="(09|03|05|07|06)+([0-9]{8})\b" required class="form-control col-sm-9"
                                      [ngClass]="{ 'is-invalid':(Phone1.errors && Phone1.dirty),'is-valid': !Phone1.errors && Phone1.dirty}">
                                      <span class="text-danger offset-sm-3" *ngIf="Phone1.invalid && Phone1.dirty">
                                        SDT chỉ bao gồm số và có 10 số và bắt đầu là 03,05,06,07 hoặc 09
                                      </span>
                                    </div>
                                    <div class="form-group row">
                                      <label  class="col-sm-3 col-form-label text-dark h3">ĐỊA CHỈ</label>
                                      <textarea rows="2" name="Address" #Address1="ngModel" [(ngModel)]="user_info.Address"  minlength="3" maxlength="200" class="form-control col-sm-9"
                                        [ngClass]="{ 'is-invalid':(Address1.errors && Address1.dirty),'is-valid': !Address1.errors && Address1.dirty}">
                    
                                      </textarea>
                                      <span class="text-danger offset-sm-3" *ngIf="Address1.invalid && Address1.dirty">
                                          Địa chỉ phải từ 3 đến 200 kí tự
                                        </span>
                                    </div>
                                    <div class="form-group row">
                                      <label  class="col-sm-3 col-form-label text-dark h3">NGÀY SINH</label>
                                <ngx-dates-picker
                                [(ngModel)]="user_info.Birthday" 
                                [options]="options"
                                name="Birthday" 
                              id="datepicker"
                              class="col-sm-9 px-0" 
                              #Birthday1="ngModel"
                                ></ngx-dates-picker>
                                <span class="text-danger offset-sm-3" *ngIf="this.compareDate(user_info.Birthday)">
                                  Ngày sinh phải trước ngày hiện tại
                                </span>
                                    </div>
                                    <div class=" row justify-content-end">
                                      <button type="button"  data-dismiss="modal"  (click)="this.Reset(form)" class="btn btn-danger font-weight-bolder mr-2">RESET</button>
                                      <button type="button" (click)="this.Update(form)"  [disabled]="form.invalid || this.compareDate(user_info.Birthday)" data-dismiss="modal" class="btn btn-primary text-light font-weight-bolder">THAY ĐỔI</button>
                                    </div>
                                   
                                  </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

