<style>
  .quick-stats__item 
  {
       padding: 1.85rem 1.75rem 1.75rem 2rem;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.1);
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
  }
  .quick-stats__info {
    min-width: 0;
  }
  .quick-stats__info small{
    color: rgba(255,255,255,.5);
  }
</style>
<div class="animated fadeIn">
  <div class="row" id="db_menu">
  </div>
  <!--/.row-->
  <div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
              <h4 class="card-title mb-0">Xếp Hạng</h4>

                <select class="custom-select w-auto" id="slc_db" (change)="change()">
                </select>
          </div>
          <div class="row justify-content-center mt-2">
              <i class="fa fa-trophy fa-5x" style="color: orange;"></i>
          </div>
          <div class="row justify-content-center mt-2">
              <table class="table table-bordered table-hover w-50 text-center" id="tb_db">
                  <tr class="bg-primary">
                      <th >STT</th>
                      <th>Tài Khoản</th>
                      <th>Điểm</th>
                  </tr>
              </table>
            </div>
      <!--/.row-->
      </div>

  </div>
  <!--/.card-->
</div>