<div class="animated fadeIn">
  <div class="row">
    <a class="col-sm-6 col-lg-4" href="/employee">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <i class="fa fa-user-circle-o fa-5x"></i>
          </div>
          <div class="text-value">{{this.emp_sl}}</div>
          <div>Nhân Viên</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas ></canvas>
        </div>
      </div>
    </a>
    <!--/.col-->
    <a class="col-sm-6 col-lg-4" href="/customer">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right">

            <i class="fa fa-user fa-5x"></i>
          </div>
          <div class="text-value">{{this.cus_sl}}</div>
          <div>Người Chơi</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas ></canvas>
        </div>
      </div>
    </a>
    <!--/.col-->
    <a class="col-sm-6 col-lg-4" href="/contest">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <i class="fa fa-laptop fa-5x"></i>
          </div>
          <div class="text-value">{{this.con_sl}}</div>
          <div>Cuộc Thi</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas ></canvas>
        </div>
      </div>
    </a>
    <!--/.col-->
    <a class="col-sm-6 col-lg-4" href="/topic">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <i class="fa fa-folder-open fa-5x"></i>
          </div>
          <div class="text-value">{{this.top_sl}}</div>
          <div>Chủ Đề</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas ></canvas>
        </div>
      </div>
    </a>
    <!--/.col-->
    <a class="col-sm-6 col-lg-4" href="/include">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <i class="fa fa-file fa-5x"></i>
          </div>
          <div class="text-value">{{this.inc_sl}}</div>
          <div>QH Chủ Đề - Cuộc Thi</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas ></canvas>
        </div>
      </div>
    </a>
    <!--/.col-->
    <a class="col-sm-6 col-lg-4" href="/question">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <i class="fa fa-book fa-5x"></i>
          </div>
          <div class="text-value">{{this.quest_sl}}</div>
          <div>Bộ Đề</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas ></canvas>
        </div>
      </div>
    </a>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
              <h4 class="card-title mb-0">Xếp Hạng</h4>

                <select  id="slc_db" (change)="change()">
                </select>
          </div>
          <div class="row justify-content-center mt-2">
              <i class="fa fa-trophy fa-5x" style="color: orange;"></i>
          </div>
          <div class="row justify-content-center mt-2">
              <table class="table table-bordered table-hover w-50 text-center" id="tb_db">
                  <tr class="bg-primary">
                      <th >STT</th>
                      <th>Tài Khoản</th>
                      <th>Điểm</th>
                  </tr>
              </table>
            </div>
      <!--/.row-->
      </div>

  </div>
  <!--/.card-->
</div>